@use 'index' as *;

.theme-toggle {
  @include flex;
  align-items: center;
  margin-left: 20px;
}

.theme-label {
  margin-right: 8px;
  font-size: 14px;
  color: $text-dark-theme;
  font-weight: 500;
}

.theme-toggle-btn {
  background: none;
  border: 1px solid $border-light-alt;
  @include border-radius('circle');
  padding: 6px 12px;
  font-size: 18px;
  cursor: pointer;
  @include transition;
  @include flex-center;
  background-color: $white-overlay-light;
  @include box-shadow('normal');

  &:hover {
    background-color: $white-overlay-medium;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
  }
}

/* Dark Theme styles */
.dark-theme {
  .theme-label {
    color: $text-dark-theme;
  }

  .theme-toggle-btn {
    border-color: $gray-almost-black;
    background-color: $shadow-dark;

    &:hover {
      background-color: $white-overlay-light;
    }
  }
}
